.title-admin{
    margin-top: 0;
    color: rgb(27, 175, 177);
    margin-bottom: 50px;
}

.list-group-item{
    background-color: rgb(27, 175, 177);
}

.container-admin{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
    
}


.card{

    background-color:  rgb(27, 175, 177) !important;
}
.card-body{
    margin-top: 10%;
    background-color: black;
    color: black;
    gap: 3em;
}

