.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #07020d;
    overflow: hidden;
    z-index: 0;
  }
  
  .background span {
    width: 4vmin;
    height: 4vmin;
    border-radius: 4vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  
  .background span:nth-child(0) {
    color: #FFACAC;
    top: 95%;
    left: 21%;
    animation-duration: 52s;
    animation-delay: -24s;
    transform-origin: 3vw 9vh;
    box-shadow: 8vmin 0 1.3010610857729263vmin currentColor;
  }
  .background span:nth-child(1) {
    color: #FFACAC;
    top: 12%;
    left: 34%;
    animation-duration: 20s;
    animation-delay: -9s;
    transform-origin: 4vw 10vh;
    box-shadow: -8vmin 0 1.9017516200052034vmin currentColor;
  }
  .background span:nth-child(2) {
    color: #E45A84;
    top: 31%;
    left: 46%;
    animation-duration: 41s;
    animation-delay: -3s;
    transform-origin: 9vw -5vh;
    box-shadow: 8vmin 0 1.9092143954141594vmin currentColor;
  }
  .background span:nth-child(3) {
    color: #FFACAC;
    top: 46%;
    left: 41%;
    animation-duration: 30s;
    animation-delay: -12s;
    transform-origin: -19vw 12vh;
    box-shadow: -8vmin 0 1.023881989542992vmin currentColor;
  }
  .background span:nth-child(4) {
    color: #FFACAC;
    top: 96%;
    left: 20%;
    animation-duration: 53s;
    animation-delay: -21s;
    transform-origin: 6vw -5vh;
    box-shadow: 8vmin 0 1.021755307802711vmin currentColor;
  }
  .background span:nth-child(5) {
    color: #E45A84;
    top: 62%;
    left: 79%;
    animation-duration: 52s;
    animation-delay: -42s;
    transform-origin: -7vw 23vh;
    box-shadow: 8vmin 0 1.171627346023537vmin currentColor;
  }
  .background span:nth-child(6) {
    color: #FFACAC;
    top: 26%;
    left: 37%;
    animation-duration: 17s;
    animation-delay: -12s;
    transform-origin: 14vw 22vh;
    box-shadow: -8vmin 0 1.4979846867559798vmin currentColor;
  }
  .background span:nth-child(7) {
    color: #3293b3;
    top: 13%;
    left: 34%;
    animation-duration: 50s;
    animation-delay: -18s;
    transform-origin: -4vw 24vh;
    box-shadow: 8vmin 0 1.722612400503186vmin currentColor;
  }
  .background span:nth-child(8) {
    color: #E45A84;
    top: 37%;
    left: 30%;
    animation-duration: 26s;
    animation-delay: -31s;
    transform-origin: -2vw 12vh;
    box-shadow: -8vmin 0 1.480183564392304vmin currentColor;
  }
  .background span:nth-child(9) {
    color: #583C87;
    top: 5%;
    left: 39%;
    animation-duration: 31s;
    animation-delay: -17s;
    transform-origin: 19vw -16vh;
    box-shadow: 8vmin 0 1.7616410299926524vmin currentColor;
  }
  .background span:nth-child(10) {
    color: #583C87;
    top: 55%;
    left: 58%;
    animation-duration: 13s;
    animation-delay: -15s;
    transform-origin: -10vw 18vh;
    box-shadow: -8vmin 0 1.693442955666848vmin currentColor;
  }
  .background span:nth-child(11) {
    color: #FFACAC;
    top: 57%;
    left: 29%;
    animation-duration: 35s;
    animation-delay: -23s;
    transform-origin: 24vw 19vh;
    box-shadow: 8vmin 0 1.4506644411584992vmin currentColor;
  }
  .background span:nth-child(12) {
    color: #3293b3;
    top: 34%;
    left: 56%;
    animation-duration: 41s;
    animation-delay: -5s;
    transform-origin: -7vw -10vh;
    box-shadow: -8vmin 0 1.99604903846614vmin currentColor;
  }
  .background span:nth-child(13) {
    color: #3293b3;
    top: 86%;
    left: 30%;
    animation-duration: 41s;
    animation-delay: -36s;
    transform-origin: -5vw 3vh;
    box-shadow: -8vmin 0 1.7970495383056788vmin currentColor;
  }
  .background span:nth-child(14) {
    color: #583C87;
    top: 96%;
    left: 79%;
    animation-duration: 14s;
    animation-delay: -2s;
    transform-origin: -2vw 6vh;
    box-shadow: -8vmin 0 1.2134347976865265vmin currentColor;
  }